[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
flake8 = "*"
psycopg2-binary = "*"
drf-spectacular = "*"
pillow = "==8.2.0"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
